h1 {
 color:red;
 }

table {
 border-width:1px;
 border-style:solid;
 border-color:black;
 width:50%;
 }

td {
 border-width:1px;
 border-style:solid;
 border-color:orange;
 width:50%;
 }

 .bouton {
  background:#ADF7AD;
  border: 2px solid ;
  width:150px;
  margin-top: 20px;
 }
